header {
  text-align: center;
  padding: 5em 0 6em 0;
  background: rgba(159,239,245,1);
  background: -moz-linear-gradient(-45deg, rgba(159,239,245,1) 0%, rgba(28,112,201,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(159,239,245,1)), color-stop(100%, rgba(28,112,201,1)));
  background: -webkit-linear-gradient(-45deg, rgba(159,239,245,1) 0%, rgba(28,112,201,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(159,239,245,1) 0%, rgba(28,112,201,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(159,239,245,1) 0%, rgba(28,112,201,1) 100%);
  background: linear-gradient(135deg, rgba(159,239,245,1) 0%, rgba(28,112,201,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9feff5', endColorstr='#1c70c9', GradientType=1 );

  h1 {
    font-size: 6rem;
    color: white;
  }
}

main {
  padding: 5em 0;
}

.description {
  font-size: 2.5rem;
}

.perceptron-visualizer-container {
  padding: 1em;
}
.perceptron-visualizer-container .ember-view {
  width: 400px;
  margin: 0 auto;
  border: 1px solid #333;
  height: 402px;
}

.grid path {
  stroke: transparent;
}
.grid .tick line {
  stroke: rgba(0,0,0,0.2);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}


.circle {
  fill: blue;
}
.circle--positive {
  fill: green;
}
.circle--negative {
  fill: red;
}

line.train {
  stroke: purple;
}

line.division {
  stroke: purple;
}
line.division--full {
  stroke: orange;
}
line.division--user-defined {
  stroke: red;
}